//必须配置：输入的训练语料的路径
corpusPath ::= "./data/spb_kuaidi_time.csv";

//必须配置：输出模型的文件夹路径
modelOutputDir ::= "./data";


//查询后，返回的结果数量
maxReturnNum ::= 5;

//每个公司的快递最多收集的训练语料数
eachTrainDataSetMaxCount ::= 10000;

//用于预处理过滤：快递单号最短长度。低于此长度，则被判定为噪声
kuaidiNumberMinLength ::= 6;

//用于预处理过滤：某个长度在此公司的快递总数中最少应占的比例
lengthMinRate ::= 0.0001;

//用于预处理过滤：某个长度在此公司的快递总数中最少应有的个数
lengthMinCount ::= 3;

//生成模式时，前缀的最长长度
patMaxStartTag ::= 3;

//生成模式时，后缀的最长长度
patMaxEndTag ::= 2;

//生成模式时，每位字符最少覆盖比例
rateSingle ::= 0.12;

//每条模式最少应覆盖<给定快递公司，给定长度>的比例,达到此值的模式才会被模型加载
patCoverMinRate ::= 0.001;

//匹配相似性在最后结果得分中所占的权重
similarWeight ::= 0.7;

//返回结果得分应至少达到最高分的比例
proportionOfMaxScore ::= 0.5;

//用于测试：统计前topNAccuraty个结果的准确率
topNAccuraty ::= 5;
